__pycache__/
*.py[cod]
*.egg-info/
.eggs/

.venv/
.venv*/
env/
venv/

dist/
build/
site/

.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/

.idea/
.vscode/
.DS_Store

.env
.env.*
!env.example

/inputs/
/outputs/
/output*/
/**/_parsed_pdf/
/rag_storage*/

*.pdf
*.tif
*.tiff
*.jpg
*.jpeg
*.png
*.zip

*.log
*.coverage
.coverage
.coverage.*
htmlcov/
